images
*checkpoint*
epoch
backup/*.*
*.png
checkpointsaved/*
temp/*
.DS_Store
lr.txt
save.txt
.ipynb_checkpoints/
*Identifier
2024_06_17/*

# Ignore the big files only
MBPsimOutput/*.parquet
output*.parquet
output*.csv
